# {{ ansible_managed }}

domain-needed
bogus-priv

conf-file=/usr/share/dnsmasq-base/trust-anchors.conf
dnssec

no-resolv
server=8.8.8.8
server=8.8.4.4
local=/{{ network_domain }}/

interface={{ internal_interface }}
domain={{ network_domain }}
dhcp-range=192.168.0.50,192.168.0.150,120h
